<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Folding Click 'n Roll Brake Lever</title>
  <meta name="description" content="PSR Folding Click 'N Roll Brake Lever  Folding feature minimizes the possibility of breaking a lever in the event of a crash Standard length with wind drag reducing hole CNC machined from billet with 6 lever position adjustments Available in anodized black   **Closeouts are limited to stock on hand**">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="http://findsavebuy.net/resources/skeleton/css/normalize.css">
  <link rel="stylesheet" href="http://findsavebuy.net/resources/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="http://findsavebuy.net/resources/skeleton/css/custom.css">


  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "46dba9f7-b42d-4f17-bad7-f48c98773b3a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>


</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container">
    <section class="header">
      <h2 class="title">Folding Click 'n Roll Brake Lever</h2>
      <img alt="PHOTO MISSING" src="http://images.motorcycle-superstore.com/productimages/og/0000-psr-folding-click-n-roll-brake-lever-mcss.jpg">
      <br>
      <p>PSR Folding Click 'N Roll Brake Lever  Folding feature minimizes the possibility of breaking a lever in the event of a crash Standard length with wind drag reducing hole CNC machined from billet with 6 lever position adjustments Available in anodized black   **Closeouts are limited to stock on hand**</p>
      <p><a class="button button-primary" href="http://findsavebuy.net/bb/products.php?safe=123&dsid=824&did=191918153&kw=Folding Click 'n Roll Brake Lever&mid=288">Visit Store</a>  <a class="button button-primary" href="http://findsavebuy.net/bb/products.php?safe=123&dsid=824&did=191918153&kw=Folding Click 'n Roll Brake Lever&mid=288">Buy Item</a></p>
      <br>
      <p>
       <span class='st_facebook_large' displayText='Facebook'></span>
       <span class='st_twitter_large' displayText='Tweet'></span>
       <span class='st_linkedin_large' displayText='LinkedIn'></span>
       <span class='st_pinterest_large' displayText='Pinterest'></span>
      </p>
    </section>
  </div>

<br><br><hr>

<center>
  <div typeof="v:Recipe" xmlns:v="http://rdf.data-vocabulary.org/#">
    <span rel="v:photo" >
      <img alt="Folding Click 'n Roll Brake Lever Photo" src="http://images.motorcycle-superstore.com/productimages/og/0000-psr-folding-click-n-roll-brake-lever-mcss.jpg" width="70">
    </span>
    <br>
    <span property="v:name">
      Folding Click 'n Roll Brake Lever
    </span>
    has been rated
    <span rel="v:Review">
      <span typeof="v:Review-aggregate">
        <span rel="v:rating">
          <span typeof="v:Rating">
            <span property="v:average">
              4.6
            </span>
            stars out of
            <span property="v:count">
              112
            </span>
            customer reviews on this site.
          </span>
        </span>
      </span>
    </span>
</div>
</center>

<br><br>
<center><a href="/sitemap.xml">Sitemap</a></center>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>